img {
  max-width: 100%;
  display: block;
}

#galeria {
  max-width: 600px;
  margin: 0 auto;
}

#galeria ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

#galeria ul li img:hover {
  opacity: 0.7;
  transform: scale(1.1);
}


#lightbox button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#lightbox button:hover {
  color: lightgrey;
}